body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  /*opacity: 0.65;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../images/bkgd/0001.jpg");
  height: 100%;
}

.welcome {
  /*background-color: #111;*/
  color: #fff;
  padding: 18px;
  font-size: 50px;
  /*letter-spacing: 5px;*/
  font-weight:bold
}

. {
  align-self: center;
  justify-self: center;
}

/* label color */
.input-field {
  align:center;
  font-size: 50px
}

.input-field label {
 color: #000;
 font-size: 50px;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}
        
